<%= form_for(@comment) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<div class="field">
<%= f.hidden_field :user_id %>
<%= f.hidden_field :entry_id, :value => params[:id] %>
<%= f.text_area :content, placeholder: "Compose new entry..." %>
</div>
<%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>